/* Estilização do site Mercado Online */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: rgb(255, 255, 255);
}

header {
    background-color: blueviolet;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: blueviolet;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(66, 66, 66);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
      border-radius: 12px;
    border: 2px solid blueviolet;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
   
}

.product {
    border: 1px solid #525252;
    padding: 15px;
    text-align: center;
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 2px solid blueviolet;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-weight: bold;
    color: #fcfcfc;
}

.product button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.product button:hover {
    background-color: rgb(57, 18, 92);
}

#cart {
    margin-top: 40px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    border-bottom: 1px solid #ff0000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

#total {
    font-weight: bold;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}